<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body text-center">
            <table>
              <thead>
              <tr>
                <th>From currency</th>
                <th>Rate</th>
                <th>To currency</th>
                <th>Rate</th>
                <th>Date</th>
                <th>Conversion amount</th>
              </tr>
              </thead>
              <tr *ngFor="let conversionHistory of conversionsHistory">
                <td>{{conversionHistory.fromCurrency}}</td>
                <td>{{conversionHistory.fromCurrencyRate}}</td>
                <td>{{conversionHistory.toCurrency}}</td>
                <td>{{conversionHistory.toCurrencyRate}}</td>
                <td>{{conversionHistory.date}}</td>
                <td>{{conversionHistory.amount}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
